<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Expires" content="0"/>
<meta http-equiv="Pragma" content="no-cache"/>
<!-- 위 3개의 메타 태그는 *반드시* head 태그의 처음에 와야합니다; 어떤 다른 콘텐츠들은 반드시 이 태그들 *다음에* 와야 합니다 -->
<title>PLAYAUTO</title>

<!--jquery-->
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

<!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- 부가적인 테마 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/i18n/defaults-*.min.js"></script>

<!--&lt;!&ndash; Compiled and minified CSS &ndash;&gt;-->
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">-->

<!--&lt;!&ndash; Compiled and minified JavaScript &ndash;&gt;-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>-->

<!--&lt;!&ndash;Import Google Icon Font&ndash;&gt;-->
<!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->

<!--&lt;!&ndash;Let browser know website is optimized for mobile&ndash;&gt;-->
<!--<meta name="viewport" content="width=device-width, initial-scale=1.0"/>-->

<script>
//1st way
/*
window.onpageshow = function (event) {
  if (event.persisted) {
    console.log('BFCahe로부터 복원됨');
  }
  else {
    console.log('새로 열린 페이지');
  }
};
*/
//2nd way
/*
window.onpageshow = function(event) {
 if (event.persisted) {
   window.location.reload()
 }
}
*/

//3rd way
window.addEventListener = function(event){
  if(event.persisted) {
    log.innerHTML += '<br><strong>(page loaded from bfcache)</strong>'
    window.location.reload()
  }
}
</script>

<!--Import local CSS -->
<link href="stylesheets/style.css" rel="stylesheet">
