<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <div class="page-header">
        <img src="images/PLAYAUTO_LOGO_NEW_2016.png" class="img-thumbnail" alt="Responsive image">
      </div>
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">
            Panel title
          </h3>
        </div>
        <div class="panel-body">
          Panel content
        </div>
        <div class="panel-footer">
          Panel footer
        </div>
      </div>
    </div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-3 list-group">
          <a href="#" class="list-group-item active">
            외부링크
          </a>
          <div class="well well-sm row">
            <a href="https://www.docswave.com/v2/myurl/playauto" class="col-md-6 list-group-item">전자결재</a>
            <a href="https://www.docswave.com/v2/myurl/playauto" class="col-md-6 list-group-item">사용설명서</a>
          </div>
          <a href="http://manual.playauto.co.kr/login.html" class="list-group-item">도서</a>
          <a href="http://www.playauto.co.kr/_mobile/seminar.php" class="list-group-item">회의실예약</a>
          <a href="http://redmine3.playauto.co.kr/login?back_url=http%3A%2F%2Fredmine3.playauto.co.kr%2F" class="list-group-item">레드마인</a>
        </div>
        <div class="col-md-3 list-group">
          <a href="#" class="list-group-item active">
            경영지원
          </a>
          <a href="#" class="list-group-item">각종규정</a>
          <a href="#" class="list-group-item">홍보자료</a>
          <a href="#" class="list-group-item">구매요청</a>
          <a href="#" class="list-group-item">명함신청</a>
          <a href="#" class="list-group-item">지원요청</a>
        </div>
        <div class="col-md-3 list-group">
          <a href="#" class="list-group-item active">
            복리후생
          </a>
          <a href="#" class="list-group-item">문생비잔액확인</a>
          <a href="#" class="list-group-item">리조트예약</a>
        </div>
        <div class="col-md-3 list-group">
          <a href="#" class="list-group-item active">
            관리자
          </a>
          <a href="http://admin.playauto.co.kr/main/login" class="list-group-item">자산관리</a>
          <a href="http://www.krsmart.com/" class="list-group-item">렌탈관리</a>
          <a href="#" class="list-group-item">사이트관리</a>
          <a href="#" class="list-group-item">근태관리</a>
        </div>

      </div>
    </div>
  </div>

  <!--<script src="javascripts/scripts.js"></script>-->
