<!--
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.5, maximum-scale=1.5, user-scalable=no">
    &lt;!&ndash; 위 3개의 메타 태그는 *반드시* head 태그의 처음에 와야합니다; 어떤 다른 콘텐츠들은 반드시 이 태그들 *다음에* 와야 합니다 &ndash;&gt;
    <title>부트스트랩 101 템플릿</title>

    &lt;!&ndash; 부트스트랩 &ndash;&gt;
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

    &lt;!&ndash; IE8 에서 HTML5 요소와 미디어 쿼리를 위한 HTML5 shim 와 Respond.js &ndash;&gt;
    &lt;!&ndash; WARNING: Respond.js 는 당신이 file:// 을 통해 페이지를 볼 때는 동작하지 않습니다. &ndash;&gt;
    &lt;!&ndash;[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]&ndash;&gt;
    <style type="text/css">
        * {
            box-sizing: border-box;
        }

        *:focus {
            outline: none;
        }
        body {
            font-family: Arial;
            background-color: #3498DB;
            padding: 50px;
        }
        .login {
            margin: 20px auto;
            width: 300px;
        }
        .login-screen {
            background-color: #FFF;
            padding: 20px;
            border-radius: 5px
        }

        .app-title {
            text-align: center;
            color: #777;
        }

        .login-form {
            text-align: center;
        }
        .form-group {
            margin-bottom: 10px;
        }

        input {
            text-align: center;
            background-color: #ECF0F1;
            border: 2px solid transparent;
            border-radius: 3px;
            font-size: 16px;
            font-weight: 200;
            padding: 10px 0;
            width: 250px;
            transition: border .5s;
        }

        input:focus {
            border: 2px solid #3498DB;
            box-shadow: none;
        }

        .btn {
            border: 2px solid transparent;
            background: #3498DB;
            color: #ffffff;
            font-size: 16px;
            line-height: 25px;
            padding: 10px 0;
            text-decoration: none;
            text-shadow: none;
            border-radius: 3px;
            box-shadow: none;
            transition: 0.25s;
            display: block;
            width: 250px;
            margin: 0 auto;
        }

        .btn:hover {
            background-color: #2980B9;
        }

        .login-link {
            font-size: 12px;
            color: #444;
            display: block;
            margin-top: 12px;
        }
    </style>
</head>

<body>
<div class="login">
    <div class="login-screen">
        <div class="app-title">
            <h1>Login</h1>
        </div>

        <form action='/login' method='post' class="login-form">
            <div class="form-group">
                <input name='username' type="text" class="login-field" value="" placeholder="username">
                <label class="login-field-icon fui-user" for="login-name"></label>
            </div>

            <div class="form-group">
                <input name='password' type="password" class="login-field" value="" placeholder="password">
                <label class="login-field-icon fui-lock" for="login-pass"></label>
            </div>
            <button href="#" class="btn btn-primary btn-large btn-block" type="submit">Sign in</button>

            <a class="login-link" href="#">Lost your password?</a>
        </form>
    </div>
</div>
&lt;!&ndash; jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) &ndash;&gt;
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
&lt;!&ndash; 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요 &ndash;&gt;
<script src="javascripts/bootstrap.min.js"></script>
</body>
</html>
-->
