@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
  font-family: 'Roboto', sans-serif;
}


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


table {
  width: 95%;
  margin: auto;
}

.first,
tr>th:first-child {
  width: 50px;
  vertical-align: middle;
  background: lightgray;
  border: 0.1px solid black;
  
}
th {
  border: 0.1px solid black;
}
td,
th {
  font-size: 12px;
  width: 30px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.7px;
}

.fixe {
  background: rgb(150, 217, 255);
  display: block;
  position: fixed;
  width: 100%;
  margin: auto;
  height: 100px;
}

.fixe > table {
  position: absolute;
  margin: 0;
  left: 2.6%;
  bottom: 0;
}

.block {
  height: 100px;
  display: block;
}

td > input[type=text] {
  width:100%;
  text-align: center;
  font-size: 12px;
}
.header{
  height: 70px;
  margin: auto;
  line-height: 70px;
  position: relative;
}
.month {
  text-align: center;
}
.month > h1 {
  display: inline-block;
  width: 70px;
  height:30px;
  font-size: 30px;
  
}
.search {
  position: absolute;
  right: 10;
  top: 0;
}
.search > input[type=text] {
  width:100px;
}