<!DOCTYPE html>
<html lang="en">
<head>
<% include ../layout/head.ejs %>
<link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<% include ../layout/nav.ejs %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-3">
        <div class="list-group">
          <li class="list-group-item active"><h4>외부링크</h4></li>
          <li class="list-group-item">
            <a class="btn btn-primary btn-lg btn-block" href="https://www.docswave.com/v2/myurl/playauto" role="button">전자결재</a>
            <a class="btn btn-primary btn-lg btn-block" href="http://manual.playauto.co.kr/login.html" role="button">사용설명서</a>
            <a class="btn btn-primary btn-lg btn-block" href="http://books.playauto.org" role="button">도서관리</a>
            <a class="btn btn-primary btn-lg btn-block" href="http://www.playauto.co.kr/_mobile/seminar.php" role="button">회의실예약</a>
            <a class="btn btn-primary btn-lg btn-block" href="http://redmine3.playauto.co.kr" role="button">플레드마인</a>
            <a class="btn btn-primary btn-lg btn-block" href="http://dd.playauto.co.kr/ppy926/lunchbox/views/index.html" role="button">점심주문</a>
            <a class="btn btn-primary btn-lg btn-block" href="http://bizplay.co.kr" role="button">Bizplay</a>
            <a class="btn btn-primary btn-lg btn-block" href="http://192.168.0.11:5000/" role="button">NAS</a>
            <a class="btn btn-primary btn-lg btn-block" href="http://members.iparking.co.kr/pages/login/login.html" role="button">주차관리</a>
          </li>
        </div>
      </div>
      <div class="col-md-3">
        <div class="list-group">
          <li class="list-group-item active"><h4>경영지원</h4></li>
          <li class="list-group-item">
            <a href="/request" class="list-group-item">
              <div class="caption">
                <h3>플레이어센터</h3>
                <p>구매요청, 지원요청</p>
              </div>
            </a>
            <a href="#" class="list-group-item">
              <div class="caption">
                <h3>각종규정</h3>
                <p>구현예정_구현예정_구현예정_구현예정_구현예정_</p>
              </div>
            </a>
            <a href="#" class="list-group-item">
              <div class="caption">
                <h3>회사홍보자료</h3>
                <p>구현예정_구현예정_구현예정_구현예정_구현예정_</p>
              </div>
            </a>
            <a href="#" class="list-group-item">
              <div class="caption">
                <h3>표준문서양식</h3>
                <p>구현예정_구현예정_구현예정_구현예정_구현예정_</p>
              </div>
            </a>
            <a href="#" class="list-group-item">
              <div class="caption">
                <h3>법인카드불출</h3>
                <p>구현예정_구현예정_구현예정_구현예정_구현예정_</p>
              </div>
            </a>
            <a href="#" class="list-group-item">
              <div class="caption">
                <h3>자리배치도</h3>
                <p>구현예정_구현예정_구현예정_구현예정_구현예정_</p>
              </div>
            </a>
            <a href="#" class="list-group-item">
              <div class="caption">
                <h3>명함요청</h3>
                <p>구현예정_구현예정_구현예정_구현예정_구현예정_</p>
              </div>
            </a>
          </li>
        </div>
      </div>
      <div class="col-md-3">
        <div class="list-group">
          <li class="list-group-item active"><h4>복리후생</h4></li>
          <a href="/culture" class="list-group-item">
            <div class="caption">
              <h3>문생비잔액확인</h3>
              <p>본인의 문생비 잔액 확인</p>
            </div>
            <a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>button</a>
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="list-group">
          <li class="list-group-item active"><h4>관리자</h4></li>
          <li class="list-group-item">
            <form action="/main/containlink" method="post">
              <button type="submit" class="btn btn-primary btn-lg btn-block" name="containlink" value="http://admin.playauto.co.kr/main/login">자산관리</button>
            </form>
          </li>
          <li class="list-group-item">
            <form action="/main/containlink" method="post">
              <button type="submit" class="btn btn-primary btn-lg btn-block" name="containlink" value="http://www.krsmart.com/">대여관리</button>
            </form>
          </li>
          <a href="#" class="list-group-item">사이트관리</a>
          <a href="#" class="list-group-item">근태관리</a>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/i18next/1.9.0/i18next.min.js" type="text/javascript"></script>
<script type="text/javascript">
  $.i18n.init({
    //lng: 'en-US',
    lng: 'ko-KR',
    debug: true,
    useLocalStorage: false,
    localStorageExpirationTime: 86400000, // in ms, default 1 week
    ns: {
      namespaces: ['A', 'B'],
      defaultNs: 'A'
    },
    //resGetPath: 'js/locales/translation.json'
    resStore: {
      "en-US": {
        "A": {
          "alramsetting" : "Alram On/Off",
          "mypage": "Mypage",
          "about": "About",
          "logout": "Logout",
          "infomation": "User Infomation",
          "firstname" : "FirstName",
          "lastname" : "LastName",
          "email" : "Email",
          "phone" : "Phone",
          "datelastvisit" : "DateLastVisit",
          "dateofbirth" : "Date Of Birth",
          "allSurvey": "All Questionnaires",
          "messages": "Messages",
          "settings": "Settings"
        }
      },
      "ko-KR": {
        "A": {
          "alramsetting" : "알람 설정 On/Off",
          "mypage": "내 정보",
          "about": "주제",
          "logout": "로그아웃",
          "infomation": "정보",
          "firstname" : "이름",
          "lastname" : "성",
          "email" : "이메일",
          "phone" :"전화번호",
          "datelastvisit" : "마지막 방문",
          "dateofbirth" : "생년월일",
          "allSurvey": "모든 설문지",
          "messages": "메세지",
          "settings": "설정"
        }
      }
    }
  }, function () {
    $('.translation').i18n();
  });
  var changeLang = function (lang) {
    $.i18n.setLng(lang);
    $('.translation').i18n();
  }-->
</script>
